@import url("https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Oswald:wght@300;300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Lato;
    color: #717171;
}

h2 {
    font-family: lato;
    text-decoration: none;
    
}
   

.logo {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 200%;
    color: #41a323;
    text-align: center;
    background-color: #d6ffff; 
    padding: 15px 0px;
    width: 100%;
    
    
} 


.navbar {
    font-size: 100%;
    width: fit-content;
    float: right;
    color: #33831b;
    background-color: #ffffff;
    text-decoration: none;

}


#menu {

    list-style-type: none;
    letter-spacing: 1px;
    float: right;

}



 #menu li {
    float: right;
    margin-right: 30px;
    height: fit-content;
}

#menu a {
    text-decoration: none;
    color: #41a323;
}

#menu a:hover {
    border-bottom: 1px solid #717171;
}

.active {
    border-bottom: 1px solid #717171;
}
 
 #hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
 }


#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}
 



#about-us >h2 {
    font-size: 100px;
    color: #5b9292;
}

#about-us > p{
    text-align: justify;

  }
  
  
  

#causes-effect >h2{
   font-size: 100px;
   color: #5b9292;


}


#combact-effect  >p{
text-align: justify;
text-decoration: solid;

}


.col > div > p > a{
    background-color: #ffffff;
    color: #0d6efd ;
}


#comabct-effect h5 {
    font-weight: 300;
}



.footer {
    color: #d6ffff;
    background-color: #333;
}


.footer div {
    text-align: center;

} 

iframe{
    width: 100%; 
    height:100%;
    border-style: none;
    flex-shrink: none;

}


.social-links > a {
   color: white;
   font-size: 35px;
   padding-right: 10px;

}


.footer div h3{
    font-weight: 300px;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

form input{
    width: 100%;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border-top: none;
}



form button{
    background-color: #efefef;
    border:  2px solid #fff;
    color-scheme: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer

}

/* END OF INDEX.HTML*/




/*GALLERY.HTML*/

#gallery-tittle {
    font-size: 100%;
    text-align: justify;
    color: #717171;
}


#gallery-tittle >h2 {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    height: 50px;
    width: 100%;
}

#gallery-tittle  >p {
    text-align: center;
    
}


#photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0px;

}

 #photos img {
    height: auto;
    width: 100%;

}

/* END OF GALLERY.HTML*/



/* SIGN UP.HTML*/

#signup {
    font-size: 200%;
    letter-spacing: 1px;
    color: #717171;

}

#signup-reason >h1 {

    text-transform: uppercase;
    color: #4c833b;
    height: 100px;
    width: 50%;
    text-align: center;
}


#signup-reason >p {
    text-align: center;
}



.form-section {
    clear: left;
    background: url("http://formdump.codeinstitute.net/");
    background-size: contain;
    background-position: center;

}


.signup-form {
    color: #ffffff;
    background-color: #268506;
    padding: 30px;

}

.signup-form >h2 {
    color: #ffffff;
    background-color: #31a50a;
    margin-bottom: 20px;

}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #333;
    border-radius: 2px;
    text-align: center;
}




.text-input:hover {
    border-color:#fff;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #268506 ;
    color: #ffffff;
    display: block;
}

.join-button:hover {
    background-color: #3a3737;
    color: #efefef;
}


 /* END OF SIGNUP.HTML*/





 /*media screen and (min-width: 400px)*/



 @media screen and (min-width: 400px) {
    body {
      background-color: #fff;
    }
  }
  


  @media screen and (min-width: 800px) {
    body {
      background-color: #fff;
    }
  }

 /* media screen (max-width: 600px) */

 @media screen and (max-width: 600px) {

    .div {
        display: none;
      }

    .navbar a {
      float: none;
      width: 100%;
    }


    form input{
        width: 100%;
        margin-right: 15px;
    }

  }

    







    